PyPDF2
PdfReader

requests
python-dotenv
openai==0.28

faiss-cpu
requests
langchain
langchain-community

google-generativeai
InstructorEmbedding
torch
sentence-transformers==2.2.2
huggingface-hub

ipykernel